.feynman__link {
    position: absolute;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    top: 50%;
    right: 48px;
    text-decoration: none;
    color:  #000000;
  }

  .feynman__link:hover {
    opacity: 0.8;
    font-weight: bold;
    transition: font-weight;
  }